body {
    background-color: rgb(240, 239, 199);
}

h1 {
    color: rgb(95, 38, 11);
}

.p1 {
    background-color: rgb(193, 148, 235)}

.p2 {
    color: rgb(17, 110, 196);
    background-color: rgb(116, 204, 152);
}

.p3 {background-color: rgb(251, 127, 255);}
